.appointment-box {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  border: 4px double #ccc; /* Add border around appointment boxes */
  margin-bottom: 10px;
  padding: 30px;
}

/* Style for individual grid items */
.grid1,
.grid2,
.grid3,
.grid4 {
  border: 1px solid #ccc; /* Add border around each grid item */
}

/* Center the content within each grid item */
.grid1,
.grid2,
.grid3,
.grid4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Container for specific appointment details */
.specific-app-box {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  gap: 5px;
  border: 2px solid #ccc;
  padding: 20px;
}
.specific-grid1,
.specific-grid2,
.specific-grid3,
.specific-grid4,
.specific-grid5,
.specific-grid6,
.specific-grid7,
.specific-grid8{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc; /* Add border around each grid item */
}

#button_sort{
  display:flex;
  flex-direction: column;
  gap:10px;
  border: 4px solid black;
}

#button_sort button{
  text-align:left;
  background-color:azure;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size:16px;
  border-bottom:3px solid black;
}


/* appointments.css */

/* Apply general styling to form elements */
.form-field {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Apply styling to labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Apply styling to submit button */
.button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Change button color on hover */
.button:hover {
  background-color: #45a049;
}

.details{
  text-decoration: none;
  color: #2c2929;
  border: 2px #2c2929 solid;
  padding: 4px;
}

.details:hover{
  background-color: rgba(94, 126, 93, 0.2);
  color: rgb(63, 59, 59);
}