{% extends 'home_member.html' %}
{% block content_css %}
<link rel="stylesheet" href="{{url_for('appointment_bp.static', filename='css/appointments.css')}}">
{% endblock %}

{% block content_side_pannel %}
<p>This is a hair salon service application for 420 Final Project...</p>
{% endblock %}
{% block content_main_pannel %}
<h2>All appointments</h2>

{% for appointment in context %}
  <div class="appointment-box">
    <div class="grid1">
      <p>Date:</p> {{ appointment.date_appointment }}
    </div>
    <div class="grid3">
      <p>Client ID:</p> {{ appointment.client_id }}
    </div>
    <div class="grid4">
      <p>Professional ID:</p> {{ appointment.professional_id }}
    </div>
    <div class="grid2">
      <p>Service ID:</p> {{ appointment.service_id }}
    </div>
    <a href="{{url_for('appointment_bp.specific_appointment', appointment_id=appointment.appointment_id)}}">View Details / Modify</a>
  </div>
{% endfor %}


  
{% endblock %}