{% extends 'base.html' %}
{% block content_css %}
<link rel="stylesheet" href="{{url_for('appointment_bp.static', filename='css/appointments.css')}}">
{% endblock %}
{% block content_when_login %}
    {% if current_user.is_authenticated %}
        <p>Hey {{ current_user.username }}</p>
        <li>Profile</li>
        <li><a href="{{ url_for('users_bp.logout') }}">Logout</a></li>
        <li><a>My reports</a></li>
        <li><a href="{{ url_for('appointment_bp.my_appointments', username=current_user.username) }}">My Appointments</a></li>
        <li><a href="{{ url_for('appointment_bp.create_appointment') }}">Create Appointment</a></li>
    {% else %}
        {# Use the default content_when_login if the user is not logged in #}
        {{ super() }}
    {% endif %}
    {% if current_user.username == 'admin_user' %}
        <li><a href="{{ url_for('users_bp.adminuser_pannel') }}">Admin Panel</a></li>
    {% elif current_user.username == 'appoint_manager1' %}
        <li><a href="{{ url_for('users_bp.adminappoint_pannel') }}">Admin Panel</a></li>
    {% elif current_user.username == 'nasr' %}
        <li><a href="{{ url_for('users_bp.adminsuper_pannel') }}">Admin Panel</a></li>
    {% endif %}

{% endblock content_when_login %}
{% block content_side_pannel %}
<h3>Reports for Appointment ID: {{appointment.appointment_id}} </h3>
<!-- add a for loop iterating through -->
{% endblock content_side_pannel %}
{% block content_main_pannel %}
    <h2>Appointment ID: {{appointment.appointment_id}}</h2>
    <div class="specific-app-box">
        <div class="specific-grid1">
          <p>Date: {{ appointment.date_appointment }}</p> 
        </div>
        <div class="specific-grid2">
          <p>Status: {{ appointment.status }}</p> 
        </div>
        <div class="specific-grid3">
          <p>Professional ID: {{ appointment.approved }}</p> 
        </div>
        <div class="specific-grid4">
          <p>Service ID: {{ appointment.service_id }}</p> 
        </div>
        <div class="specific-grid5">
            <p>Client ID: {{appointment.client_id}}</p>
        </div>
        <div class="specific-grid6">
            <p>Professional ID: {{appointment.professional_id}}</p>
        </div>
        <div class="specific-grid7">
            <p>Slot: {{appointment.slot}}</p>
        </div>
        <div class="specific-grid8">
            <p>Venue: {{appointment.venue}}</p>
        </div>
    </div>
{% endblock content_main_pannel %}