{% extends 'home.html' %}
{% block content_css %}
<link rel="stylesheet" href="{{url_for('appointment_bp.static', filename='css/appointments.css')}}">
{% endblock content_css %}
{% block content_side_pannel %}
<h3>Reports for Appointment ID: {{appointment.appointment_id}} </h3>
{% for report in reports %}
<div clas="report-div">
    <h5>{{report.title}}</h5>
    <div class="rdiv1">
        <p>Date: {{report.date_report}}</p>
    </div>
    <div class="rdiv2">
        <p>Client: {{report.client_report}}</p>
    </div>
    <div class="rdiv3">
        <p>Professional: {{report.professional_report}}</p>
    </div>
</div>
{% if current_user.user_id in (appointment.client_id, appointment.professional_id) or
    current_user.user_type == 'admin_super' or current_user.user_type == 'admin_appoint' %}

    <button>
        <a href="{{url_for('report_bp.edit_report', report_id=report.report_id)}}">Edit Report</a>
    </button>
    <button>
        <a href="{{url_for('report_bp.delete_report', report_id=report.report_id, appointment_id=appointment.appointment_id)}}">Delete Report</a>
    </button>
{% endif %}
{% endfor %}
{% if (current_user.user_id in (appointment.client_id, appointment.professional_id) or
    current_user.user_type == 'admin_super' or current_user.user_type == 'admin_appoint') and
    reports_length == 0 %}
    <button type="button" class="specific_app">
        <a href="{{url_for('report_bp.create_report', appointment_id=appointment.appointment_id)}}">Create Report</a>
    </button>
{% endif %}
{% endblock content_side_pannel %}
{% block content_main_pannel %}
    <h2>Appointment ID: {{appointment.appointment_id}}</h2>
    <div class="specific-app-box">
        <div class="specific-grid1">
          <p>Date: {{ appointment.date_appointment }}</p> 
        </div>
        <div class="specific-grid2">
          <p>Status: {{ appointment.status }}</p> 
        </div>
        <div class="specific-grid3">
          <p>Professional: {{ appointment.professional_name }}</p> 
        </div>
        <div class="specific-grid4">
          <p>Service: {{ appointment.service_name}}</p> 
        </div>
        <div class="specific-grid5">
            <p>Client: {{appointment.client_name}}</p>
        </div>
        <div class="specific-grid6">
            <p>Slot: {{appointment.slot}}</p>
        </div>
        <div class="specific-grid7">
            <p>Venue: {{appointment.venue}}</p>
        </div>
    </div>
    {% if current_user.user_id in (appointment.client_id, appointment.professional_id) or
        current_user.user_type == 'admin_super' or current_user.user_type == 'admin_appoint' %}
    <button type = "button" class="specific_app"> <a href ="{{url_for('appointment_bp.edit_appointment', appointment_id = appointment.appointment_id)}}">Edit appointment </a></button>
    <button type="button" class="specific_app">
        <a href="{{url_for('appointment_bp.delete_appointment', appointment_id=appointment.appointment_id)}}">Delete Appointment</a>
    </button>
    {% endif %}
{% endblock content_main_pannel %}