.scroll-container {
    position: relative;
    height: 500px; /* Height of the scrolling container */
    overflow: auto; /* Enable scrolling */
} 
.reveal-phrase {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center align */
    font-size: 24px;
    color: #333;
    opacity: 1; /* Initially hidden */
    transition: opacity 0.5s ease-in-out; /* Fade-in animation */
}
.spacer {
    height: 200px;  /*Empty space to trigger reveal */
} 

.hidden-element {
    visibility: hidden;  /* Initially hidden */
    font-family: Nunito Sans;
    color:#0d3d14;
    font-size: 30px;
}
.container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
}
.button-container {
    /* padding: 10%; */
    display: flex;
    justify-content: center; /* Center horizontally */
    text-align: center;
}


/* Update Image panel */
#image_div {
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 7px;
    padding-bottom: 3px;
    height: fit-content;
    width:fit-content;
    font-family: Nunito Sans;
    color:#0d3d14;
  }

/* CSS for the profile image */
#image_div img {
    width: 100%;
    height: auto;
    border-radius: 70%; /* Makes the image round */
    margin-bottom: 20px;
    max-width: 70%;
    max-height: 80%;
  }
  
/* CSS for the text in the image panel*/
#text{
    font-family: Nunito Sans;
    color:#0d3d14;
    font-size: 10px;
    border: 2px solid #367c29;
    background-color: #bfecd1;
  }

  #update_button{
    display: flex;
    justify-content: center;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* Display button as block element */
  }
  
  button:hover {
    background-color: #45a049;
  }
  button > a{
    text-decoration: none;
    color:white;
  }

