@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* CSS for the text */
h2, h5{
  font-family: Nunito Sans;
  color:#0d3d14;
  text-align: center;
}

/* CSS for the text in the image panel*/
#text{
  font-family: Nunito Sans;
  color:#0d3d14;
  font-size: 10px;
  border: 2px solid #367c29;
  background-color: #bfecd1;
}
  /* CSS for the outer container */

/* Update Image panel */
#image_div {
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 7px;
  padding-bottom: 3px;
  height: fit-content;
}

/*Update Info panel */
#info_div{
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  width: 50%;
  padding: 7%;
  height: fit-content;

}
/* Fielset of info panel */
#info{
  display:flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: center;
}

/* Div of info */
.div_space{
  margin:10px;
}

fieldset{
  border-radius: 5px;
  border: 2px solid white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* CSS for the profile image */
#image_div img {
  width: 100%;
  height: auto;
  border-radius: 50%; /* Makes the image round */
  margin-bottom: 20px;
  max-width: 65%;
  max-height: 65%;
}


/* CSS for the form container */

/* CSS for form labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Nunito Sans;
  color:#0d3d14;
  font-size: 10px;

}

/* CSS for form fields */
.form-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}

div > .form-field{
  border: 1px solid #367c29;
}

#submit_button{
  display: flex;
  justify-content: center;
}

/* CSS for form submit button */
.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block; /* Display button as block element */
}

.button:hover {
  background-color: #45a049;
}
