{% extends 'base.html' %}
{% block content_side_pannel %}
<p>This is a hair salon service application for 420 Final Project...</p>
{% endblock %}
{% block content_when_login %}
<p>Hey {{current_user.username}}</p>
<li>Profile</li>
<li><a href="{{url_for('users_bp.logout')}}">Logout</a></li>
<li><a>My reports</a></li>
<li><a href="{{url_for('appointment_bp.my_appointments', username=current_user.username)}}">My Appointments</a></li>
<li><a href="{{url_for('appointment_bp.create_appointment')}}">Create Appointment</a></li>
{% if current_user.username == 'user_manager1' %}
<li><a href="{{ url_for('users_bp.adminuser_pannel') }}">Admin Panel</a></li>
{% elif current_user.username == 'appoint_manager1' %}
<li><a href="{{ url_for('users_bp.adminappoint_pannel') }}">Admin Panel</a></li>
{% elif current_user.username == 'nasr' %}
<li><a href="{{ url_for('users_bp.adminsuper_pannel') }}">Admin Panel</a></li>
{% endif %}
{% endblock content_when_login %}
{% block content_main_pannel %}
<h2>Welcome Home</h2>
<img id="home_image" src="{{url_for('static', filename='images/logo.jpg')}}" alt="Hair salon logo with scissors and comb.">
<div id="schedule-with-us">
<h4>Shedule An Appointment </h4>
    <p>(514) 928-2935</p>
    <p>Saloon.appointments@gmail.com</p>
    <a href=""><buton>Make Appointment</buton></a>
</div>
{% endblock %}