{% extends 'base.html' %}
{% block content_css %}
<link rel="stylesheet" href="{{url_for('main_bp.static', filename='css/home.css')}}"/>
<link rel="stylesheet" href="{{url_for('users_bp.static', filename='css/home_member.css')}}"/>
{% endblock content_css %}
{% block content_side_pannel %}
<p>This is a hair salon service application for 420 Final Project...</p>
{% endblock %}
{% block content_when_login %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Appointments <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="{{url_for('appointment_bp.all_appointments')}}">All Appointments</a></li>
        <li><a href="{{url_for('appointment_bp.my_appointments', user_id=current_user.user_id)}}">My Appointments</a></li>
        <li><a href="{{url_for('appointment_bp.create_appointment')}}">Create Appointment</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span>{{ current_user.username }}</span>
        <img class="icon" src="{{ url_for('static', filename='images/user-pics/' + current_user.user_image) }}" alt="Profile picture of user">
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('users_bp.profile', username=current_user.username) }}">Profile</a></li>
        <li><a href="{{ url_for('users_bp.logout') }}">Logout</a></li>
    </ul>
</li>

{% if current_user.user_type == 'admin_super' or current_user.user_type == 'admin_user' %}
<li><a href="{{ url_for('users_bp.admin_pannel') }}">Admin Panel</a></li>
{% elif current_user.user_type == 'admin_appoint' %}
<li><a href="{{ url_for('users_bp.adminappoint_pannel') }}">Admin Panel</a></li>
{% endif %}
{% endblock content_when_login %}
{% block content_main_pannel %}
<div id="first_div"> 
    <h2>Saloon</h2>
    <div id="image_div">  <img id="home_image" src="{{url_for('static', filename='images/hair3.avif')}}" alt="Lady with hair."> </div>    
    <div id="services">
        <div class="rect" id="rect1">
                <h5> HAIR/ BEAUTY/ NAILS</h5>
                <h2> WHAT DO YOU NEED ?</h2>
                <p>Full-service hair salon offering expert styling, cutting, nail care, and face treatment services tailored to enhance each client's unique beauty and style.  </p>
                <a href="{{url_for('main_bp.about')}}"><button>Learn More</button></a>
        </div>
        <div class="rect">
            <div class = " img_service"> <img src="{{url_for('static', filename='images/hair_care.png')}}" alt="Lady washing hair"></div>
            <h6> <span class="first_word"> Hair</span> Salon</h6>
            <p>A hair salon offers a wide range of hair care services including cutting, styling, coloring, and treatments. Experienced hairstylists provide personalized consultations and use professional techniques to create tailored hairstyles that complement clients.</p>
        </div>
        <div class="rect">
            <div class = " img_service"> <img src="{{url_for('static', filename='images/nail_care.webp')}}" alt="Manicure."></div>
            <h6> <span class="first_word">Nail</span> Salon </h6>
            <p>A nail salon focuses on nail care and enhancement, providing services such as manicures, pedicures, nail art, and nail extensions. Nail technicians offer a variety of treatments to beautify and maintain nails using quality products and creative designs to achieve stylish results.</p>
        </div>
        <div class="rect">
            <div class = " img_service"> <img src="{{url_for('static', filename='images/makeup_care.jpg')}}" alt="Face Treatement."></div>
             <h6> <span class="first_word"> Makeup </span> Salon </h6>
             <p>A makeup salon specializes in professional makeup application and services, offering a range of cosmetic treatments including makeup application for events, photo shoots, weddings and special occasions. Makeup artists use quality products and techniques to enhance beauty.</p>
        </div>   
</div>
{% endblock %}