{% extends 'base.html' %}
{% block content_css %}
<link rel="stylesheet" href="{{url_for('main_bp.static', filename='css/mobile.css')}}">
<link rel="stylesheet" href="{{url_for('main_bp.static', filename='css/home.css')}}"/>
<link rel="stylesheet" href="{{url_for('users_bp.static', filename='css/home.css')}}"/>
{% endblock content_css %}
{% block content_when_login %}
{% if current_user.is_authenticated %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Appointments <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="{{url_for('appointment_bp.all_appointments')}}">All Appointments</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{url_for('appointment_bp.my_appointments', user_id=current_user.user_id)}}">My Appointments</a></li>
            <li><a href="{{url_for('appointment_bp.create_appointment')}}">Create Appointment</a></li>
        {% endif %}
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span>{{ current_user.username }}</span>
        <img class="icon" src="{{ url_for('static', filename='images/user-pics/' + current_user.user_image) }}" alt="Profile picture of user">
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('users_bp.profile', username=current_user.username) }}">Profile</a></li>
        <li><a href="{{ url_for('users_bp.logout') }}">Logout</a></li>
    </ul>
</li>
{% if 'admin' in current_user.user_type %}
    <li><a href="{{ url_for('users_bp.admin_pannel') }}">Admin Panel</a></li>
{% endif %}
{% else %}
    <li> 
        <a href="{{url_for('users_bp.login')}}">Login</a>
    </li>
    <li>
        <a href="{{ url_for('users_bp.register') }}">Register</a>
    </li>
    <li> 
        <a href="{{url_for('appointment_bp.all_appointments')}}">Appointments</a>
    </li>
{% endif %}
{% endblock content_when_login %}
{% block content_side_pannel %}
<div id="parent-container">
    <div id="bookmarks">
        <a href="#first_div"> Home </a>
        <a href="#services"> What we offer? </a>
        <a href="#professional_div"> Our professionals</a>
        <a href="#services_prices"> Our prices </a>
    </div>
</div>
{% endblock %}
{% block content_main_pannel %}
<div id="first_div"> 
    <h2>Saloon</h2>
    <div id="image_div">  <img id="home_image" src="{{url_for('static', filename='images/hair3.avif')}}" alt="Lady with hair."> </div>    
    <div id="services">
        <div class="rect" id="rect1">
                <h5> HAIR/ BEAUTY/ NAILS</h5>
                <h2> WHAT DO YOU NEED ?</h2>
                <p>Full-service hair salon offering expert styling, cutting, nail care, and face treatment services tailored to enhance each client's unique beauty and style.  </p>
                <a href="{{url_for('main_bp.about')}}"><button>Learn More</button></a>
        </div>
        <div class="rect">
            <div class = " img_service"> <img src="{{url_for('static', filename='images/hair_care.png')}}" alt="Lady washing hair"></div>
            <h6> <span class="first_word"> Hair</span> Salon</h6>
            <p>A hair salon offers a wide range of hair care services including cutting, styling, coloring, and treatments. Experienced hairstylists provide personalized consultations and use professional techniques to create tailored hairstyles that complement our clients.</p>
        </div>
        <div class="rect">
            <div class = " img_service"> <img src="{{url_for('static', filename='images/nail_care.webp')}}" alt="Manicure."></div>
            <h6> <span class="first_word">Nail</span> Salon </h6>
            <p>A nail salon focuses on nail care and enhancement, providing services such as manicures, pedicures, nail art, and nail extensions. Nail technicians offer a variety of treatments to beautify and maintain nails using quality products and creative designs to achieve stylish results.</p>
        </div>
        <div class="rect">
            <div class = " img_service"> <img src="{{url_for('static', filename='images/makeup_care.jpg')}}" alt="Face Treatement."></div>
             <h6> <span class="first_word"> Makeup </span> Salon </h6>
             <p>A makeup salon specializes in professional makeup application and services, offering a range of cosmetic treatments including makeup application for events, photo shoots, weddings and special occasions. Makeup artists use quality products and techniques to enhance beauty.</p>
        </div>   
   </div>
</div>
<div id="professional_div">
    <h2> Professionals</h2>
    <div class="professionals"> 
        <div class="img_prof"> 
            <img src="{{url_for('static', filename='images/prof_hair.jpg')}}" alt="Lady professional hairstylist.">
            <p class="label">Alice McGraw</p>
        </div>
        <div class="text">
            <p>Alice McGraw is a passionate and skilled hairdresser with a flair for creating stunning hair transformations. With years of experience in the industry, Alice brings creativity and precision to every hairstyle she crafts. Specializing in modern cuts, vibrant coloring, and elegant updos, Alice is dedicated to helping her clients achieve their desired look while ensuring each hairstyle complements their unique features and personality. Whether you're seeking a bold change or subtle refinement, trust Alice McGraw to deliver exceptional hair styling tailored to your individual style and preferences.</p>
        </div>
    </div>
    <div class="professionals"> 
        <div class="text">
            <p>Matthey Kravinski is a talented and creative nail artist known for his exquisite nail designs and meticulous attention to detail. With a passion for nail artistry, Matthey brings innovative techniques and personalized flair to each client's nails. From elegant and sophisticated patterns to vibrant and playful designs, Matthey's artistic vision transforms nails into captivating works of art. With a focus on quality and client satisfaction, Matthey Kravinski ensures every manicure and pedicure is a unique expression of style and creativity. Whether you're looking for classic elegance or bold statement nails, trust Matthey Kravinski to deliver stunning nail art tailored to your individual taste and preferences.</p>
        </div>
        <div class="img_prof" id="tt"> 
            <img src="{{url_for('static', filename='images/prof_nail.jpg')}}" alt="Guy professional nail artist.">
            <p class="label">Matthew Kravinski</p>
        </div>
    </div>
    <div class="professionals"> 
        <div class="img_prof"> 
            <img src="{{url_for('static', filename='images/prof_makeup.jpg')}}" alt="Lady professional makeup artist.">
            <p class="label">Cateline Boval</p>
        </div>
        <div class="text">
            <p>Cateline Boval is a talented and passionate makeup artist renowned for her artistry and creativity in the world of beauty. With a keen eye for detail and a knack for enhancing natural features, Cateline specializes in creating flawless makeup looks that accentuate individual beauty. From glamorous evening makeup to soft and natural daytime looks, Cateline's versatile skills cater to a diverse range of styles and preferences. With a commitment to using high-quality products and personalized techniques, Cateline Boval ensures that each client leaves feeling confident and radiant. Whether it's for a special occasion, photo shoot, or everyday glam, trust Cateline Boval to elevate your beauty experience with expert makeup artistry.</p>
        </div>
    </div>
    <div class="professionals"> 
        <div class="text">
            <p>Alceste Muhirwa is a talented and dedicated hairdresser known for his expertise in creating stylish and modern haircuts. With a passion for hairdressing and a commitment to excellence, Alceste brings creativity and precision to every hairstyle he creates. Specializing in contemporary cuts, trendy fades, and personalized styling, Alceste has a knack for understanding his clients' preferences and delivering impeccable results. Whether you're seeking a classic look or a bold transformation, Alceste Muhirwa combines skill and artistry to craft hairstyles that enhance individual beauty and express personal style. With a warm and friendly approach, Alceste ensures a positive and enjoyable salon experience for every client.</p>
        </div>
        <div class="img_prof"> 
            <img src="{{url_for('static', filename='images/prof_hair3.jpg')}}" alt="Guy professional hairstylist." >
            <p class="label">Alceste Muhirwa</p>
        </div>
    </div>
</div>
    <div id="services_prices">
        <h2>Our services</h2>
        <table class="service-table">
            <thead>
                <tr>
                    <th>Service Name</th>
                    <th>Duration (min)</th>
                    <th>Price ($)</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <td>{{service[1]}}</td>
                    <td>{{service[2]}}</td>
                    <td>{{service[3]}}$</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}