{% extends 'base.html' %}
{% from "macro.html" import form_field_error with context %}
{% block content_when_login %}
<p>Hey {{current_user.username}}</p>
<li>Profile</li>
<li><a href="{{url_for('users_bp.logout')}}">Logout</a></li>
<li><a>My reports</a></li>
<li><a href="{{url_for('appointment_bp.my_appointments', user_id=current_user.user_id)}}">My Appointments</a></li>
<li><a href="{{url_for('appointment_bp.create_appointment')}}">Create Appointment</a></li>
{% if current_user.username == 'user_manager1' %}
<li><a href="{{ url_for('users_bp.adminuser_pannel') }}">Admin Panel</a></li>
{% elif current_user.username == 'appoint_manager1' %}
<li><a href="{{ url_for('users_bp.adminappoint_pannel') }}">Admin Panel</a></li>
{% elif current_user.username == 'nasr' %}
<li><a href="{{ url_for('users_bp.adminsuper_pannel') }}">Admin Panel</a></li>
{% endif %}
{% endblock content_when_login %}
{% block content_side_pannel %}
<p>This is a hair salon service application for 420 Final Project...</p>
{% endblock %}
{% block content_main_pannel %}
<h2>Edit report</h2>

<form action="" method="POST">
  {{form.hidden_tag()}}  
  <fieldset>
    <label for="report_title">Edit title</label>
    {{form.title(class="form-field", placeholder=report.title)}}
    {{form_field_error(form.title.errors)}}
    {% if current_user.user_type == 'client' %}
      <label for="client_report">Edit client report</label>
      {{form.client_report (class="form-field",  placeholder=report.client_report)}}
      {{form_field_error(form.client_report.errors)}}
    {% elif current_user.user_type == 'professional' %}
      <label for="professional_report">Edit professional report</label>
      {{form.professional_report (class="form-field", placeholder=report.professional_report)}}
      {{form_field_error(form.professional_report.errors)}}
    {% else %}
      <label for="client_report">Edit client report</label>
      {{form.client_report (class="form-field", placeholder=report.client_report)}}
      {{form_field_error(form.client_report.errors)}}
      <label for="professional_report">Edit professional report</label>
      {{form.professional_report (class="form-field", placeholder=report.professional_report)}}
      {{form_field_error(form.professional_report.errors)}}
    {% endif %}
  </fieldset>
  {{form.submit (class=button)}}
</form>

  
{% endblock %}