{% extends 'base.html' %}
{% block content_when_login %}
<p>Hey {{current_user.username}}</p>
<li>Profile</li>
<li><a href="{{url_for('users_bp.logout')}}">Logout</a></li>
<li><a>My reports</a></li>
<li><a href="{{url_for('appointment_bp.my_appointments', username=current_user.username)}}">My Appointments</a></li>
<li><a href="{{url_for('appointment_bp.create_appointment')}}">Create Appointment</a></li>
{% if current_user.username == 'user_manager1' %}
<li><a href="{{ url_for('users_bp.adminuser_pannel') }}">Admin Panel</a></li>
{% elif current_user.username == 'appoint_manager1' %}
<li><a href="{{ url_for('users_bp.adminappoint_pannel') }}">Admin Panel</a></li>
{% elif current_user.username == 'nasr' %}
<li><a href="{{ url_for('users_bp.adminsuper_pannel') }}">Admin Panel</a></li>
{% endif %}
{% endblock content_when_login %}
{% block content_side_pannel %}
<p>This is a hair salon service application for 420 Final Project...</p>
{% endblock %}
{% block content_main_pannel %}
<h2>Schedule your appointment</h2>
<form action="" method="POST">
    {{form.hidden_tag()}}  
    <fieldset>
      <label for="title">Title</label>
      {{form.title (class="form-field", label = "title")}}
      <label for="client_report">Client's report</label>
      {{form.client_report (class="form-field", label = "client_report")}}
      <label for="professional_report">Professional's report</label>
      {{form.professional_report (class="form-field", label = "professional_report")}}
    </fieldset>
    {{form.submit (class=button)}}
  </form>
  
{% endblock %}