

h2{
    font-family: Nunito Sans;
    text-align: center;
    font-style: oblique;
    color:#d69191;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}
#image_div{
    display: flex;
    justify-content: center;
}
img{
    text-align: center;
    border-radius: 5%;
}

.first_word {
    font-weight: bold;
    color:black;
}
h6{
    font-size: larger;
    font-style: oblique;
    font-family: Nunito Sans;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
#services{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
}
#rect1{
    background-color:#f5f5f5;
    color:black;
    text-align: left;

}

.rect{
    display:flex;
    flex-direction: column;
    width: 20%;
    height: 20%;
    border-radius: 30% 30% 30% 0%;
    background-color: #ccaaaa;
    margin: 2%;
    color: white;
    padding:2%;
}

.rect > p{
    margin:0%;
    font-size: 10px;
    font-weight: bold;
}
h5{
    text-align: justify;
    margin-bottom: 0%;
    margin-top: 0%;
    font-family: Nunito Sans;
}
.rect >h2{
    text-align: left;
    margin-bottom: 12%;
    color:#cf9898;
}
.rect >h6{
    margin: 0%;
    margin-bottom: 5px;
}

.img_service{
    text-align: right;
}

.img_service > img{
    border-radius: 50%;
    width: 35%;
    height: 35%;
}

button {
    background-color: #cf9898;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* Display button as block element */
    margin:10%;
}

  a{
    text-decoration: none;
 /* Align the link/button to the left edge of the parent div */
  }
