{% extends 'home.html'%}
{% from "macro.html" import form_field_error with context %}
{% block content_css %}
<link rel="stylesheet" href="{{url_for('users_bp.static', filename='css/admin_panel.css')}}">
<script src="{{url_for('users_bp.static', filename='js/validation.js')}}"></script>
<script src="{{url_for('users_bp.static', filename='js/admin_panel.js')}}"></script>
{% endblock content_css %}
{% block content_side_pannel %}
{% if current_user.user_type == 'admin_super' or current_user.user_type == 'admin_user' %}
<h4>Create User</h4>
<div class="register-div" id="create-user">
    <form action="" method="POST" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <fieldset>
            <label for="user-create">Create a user of type...</label>
            {{ form.user_type(class='form-control', id='user-create') }}    
            {{form.username (class='form-field', placeholder="Username", id="username")}}
            {{form_field_error(form.username.errors)}}
            {{form.full_name(class='form-field', placeholder="full_name", id="full_name")}}
            {{form_field_error(form.full_name.errors)}}
            {{form.email (class='form-field', placeholder="Email", id="email")}}
            {{form_field_error(form.email.errors)}}
            {{form.password(class='form-field', placeholder='Password', id="password")}}
            {{form_field_error(form.password.errors)}}
            {{form.confirm_password(class='form-field', placeholder='Confirm_password', id="confirm-password")}}
            {{form_field_error(form.confirm_password.errors)}}
            <section>
                {{ form.user_image(class='form-field') }}
                {{form_field_error(form.user_image.errors)}}
            </section>
            {{form.phone_number(class='form-field', placeholder='Phone Number', id="phone_number")}}
            {{form_field_error(form.phone_number.errors)}}
            {{form.address(class='form-field', placeholder='Street Number, Province, Country', id="address")}}
            {{form_field_error(form.address.errors)}}
            {{form.age(class='form-field', placeholder='Age', id="age")}}
            {{form_field_error(form.age.errors)}}
            <section id="non-client-fields">
                {{form.pay_rate(class='form-field', placeholder='Pay Rate')}}
                {{form_field_error(form.pay_rate.errors)}}
                {{form.specialty(class='form-field', placeholder='Specialty')}}
                {{form_field_error(form.specialty.errors)}}
            </section>
        </fieldset>
        {{form.submit(class='create-button')}}
    </form>
</div>
{% endif %}
{% endblock content_side_pannel %}
{% block content_main_pannel %}
<h2>Admin Pannel {{current_user.user_type}}</h2>
<div class="admin_pannel">
    <nav>
        <ul id="adminnav-menu">
            {% if current_user.user_type == 'admin_super' or current_user.user_type == 'admin_user' %}
            <li>Clients</li>
            <li>Employees</li>
            {% endif %}
            {% if current_user.user_type == 'admin_super' or current_user.user_type == 'admin_appoint' %}
            <li>Appointments</li>
            {% endif %}
            <li>Logs</li>
        </ul>
    </nav> 
    <div id="Client-list" class="content">
        <h3>Client List</h3>
        <table class="admin-table">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Active</th>
                <th>Picture</th>
                <th>Flag</th>
                <th>Edit/Delete</th>
            </tr>
            {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td> 
                <td>{{ client.username }}</td>
                <td>{{ client.full_name }}</td>
                {% if client.is_active[0] == 0 %}
                <td class="access">
                    <button>
                        <a href="{{url_for('users_bp.toggle_active_user', username=client.username)}}">Activated</a>
                    </button>
                </td>
                {% else %}
                <td class="access deactivated">
                    <button>
                        <a class="custom-link" href="{{url_for('users_bp.toggle_active_user', username=client.username)}}">Deactivated</a>
                    </button>
                </td>
                {% endif %}
                <td><img src="{{ url_for('static', filename='images/user-pics/' + client.user_image) }}" alt="Profile picture of user"></td>
                {% if client.status == 0 %}
                <td class="flag">
                    <button>
                        <a class="custom-link" href="{{url_for('users_bp.toggle_flag', username=client.username)}}">Unflagged</a>
                    </button>
                </td>
                {% else %}
                <td class="flag flagged"> 
                    <button>
                        <a class="custom-link" href="{{url_for('users_bp.toggle_flag', username=client.username)}}">Flagged</a>
                    </button>
                </td>
                {% endif %}
                <td>
                    <button>
                        <a href="{{url_for('users_bp.edit_profile_admin', username=client.username)}}">Details</a>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="Employees-list" class="content">
        <h3>Employee List</h3>
        <table class="admin-table">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Active</th>
                <th>Picture</th>
                <th>Flag</th>
                <th>Edit/Delete</th>
            </tr>
            {% for employee in employees %}
            <tr>
                <td>{{employee.user_id}}</td>
                <td>{{employee.username}}</td>
                <td>{{employee.full_name}}</td>    
                {% if employee.is_active[0] == 0 %}
                <td class="access">
                    <button>
                        <a class="custom-link" href="{{url_for('users_bp.toggle_active_user', username=employee.username)}}">Activated</a>
                    </button>
                </td>
                {% else %}
                <td class="access deactivated">
                    <button>
                        <a class="custom-link" href="{{url_for('users_bp.toggle_active_user', username=employee.username)}}">Deactivated</a>
                    </button>
                </td>
                {% endif %}
                <td><img src="{{ url_for('static', filename='images/user-pics/' + employee.user_image) }}" alt="Profile picture of user"></td>
                {% if employee.status == 0 %}
                <td class="flag">
                    <button>
                        <a class="custom-link" href="{{url_for('users_bp.toggle_flag', username=employee.username)}}">Unflagged</a>
                    </button>
                </td>
                {% else %}
                <td class="flag flagged">
                    <button>
                        <a class="custom-link" href="{{url_for('users_bp.toggle_flag', username=employee.username)}}">Flagged</a>
                    </button>
                </td>
                {% endif %}
                <td>
                    <button>
                        <a href="{{url_for('users_bp.edit_profile_admin', username=employee.username)}}">Details</a>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="Appointments-list" class="content">
        <h3>Appointment List With Reports</h3>
        <table class="admin-table">
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Date</th>
                <th>Client</th>
                <th>Employee</th>
                <th>View Details / Modify</th>
            </tr>
            {% for app in appointments %}
            <tr>
                <td>{{app.appointment_id}}</td>
                <td>{{app.status}}</td>
                <td>{{app.date_appointment}}</td>
                <td>{{app.client_name}}</td>
                <td>{{app.professional_name}}</td>
                <td><a class="app-link" href="{{url_for('appointment_bp.specific_appointment', appointment_id=app.appointment_id)}}">Details</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>   
    <div id="logs" class="content">
        <h3>All logs</h3>
        <button>
            <a href="{{url_for('users_bp.clear_logs')}}">Clear Logs</a>
        </button>
        <table class="admin-table">
            <tr>
                <th>User ID</th>
                <th>Action</th>
                <th>Table Name</th>
                <th>Date and Time</th>
            </tr>
            {% for log in logs %}
            <tr>
                <td>{{log[2]}}</td>
                <td>{{log[0]}}</td>
                <td>{{log[1]}}</td>
                <td>{{log[3]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div> 
</div>
{% endblock content_main_pannel %}
