{% extends 'base.html'%}
{% block content_css %}
<script src="{{url_for('users_bp.static', filename='js/admin_panel.js')}}"></script>
{% endblock content_css %}
{% block content_when_login %}
<p>Hey {{current_user.username}}</p>
<li>Profile</li>
<li><a href="{{url_for('users_bp.logout')}}">Logout</a></li>
<li><a>My reports</a></li>
<li><a href="{{url_for('appointment_bp.my_appointments', username=current_user.username)}}">My Appointments</a></li>
<li><a href="{{url_for('appointment_bp.create_appointment')}}">Create Appointment</a></li>
{% endblock content_when_login %}
{% block content_main_pannel %}
<h2>Admin Pannel USER</h2>
<div class="admin_pannel">
    <nav>
        <ul id="adminnav-menu">
            <li class="active">Clients</li>
            <li>Employees</li>
        </ul>
    </nav>
    <div id="Client-list" class="content active">
        <h3>Client List</h3>
        <table class="admin-table">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Active</th>
                <th>Picture</th>
            </tr>
            {% for client in clients %}
            <tr>
                <td>ID here</td>
                <td>{{client.username}}</td>
                <td>{{client.full_name}}</td>    
                <td class="account-active">Deactivate</td>
                <td><img src="{{ url_for('static', filename='images/user-pics/' + client.user_image) }}" alt="Profile picture of user"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="Employees-list" class="content">
        <h3>Employee List</h3>
        <table class="admin-table">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Active</th>
                <th>Picture</th>
            </tr>
            {% for employee in employees %}
            <tr>
                <td>ID here</td>
                <td>{{employee.username}}</td>
                <td>{{employee.full_name}}</td>    
                <td class="active">Deactivate</td>
                <td><img src="{{url_for('static', filename='images/user-pics/{{employee.user_image}}')}}" alt="Profile picture of user"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content_main_pannel %}
