{% extends 'home_adminappoint.html'%}
{% block content_when_login %}
<p>Hey {{current_user.username}}</p>
<li>Profile</li>
<li><a href="{{url_for('users_bp.logout')}}">Logout</a></li>
<li><a>My reports</a></li>
<li><a href="{{url_for('appointment_bp.my_appointments', username=current_user.username)}}">My Appointments</a></li>
<li><a href="{{url_for('appointment_bp.create_appointment')}}">Create Appointment</a></li>
{% endblock content_when_login %}
{% block content_main_pannel %}
<h2>Admin Pannel APPOINT</h2>
<div class="admin_pannel">
    <div id="Appointments-list">

    </div>
    <!-- also includes reports inside -->
</div>
{% endblock content_main_pannel %}
