{% extends 'home.html' %}
{% from "macro.html" import form_field_error with context %}
{% block content_css %}
<link rel="stylesheet" href="{{url_for('users_bp.static', filename='css/update.css')}}">
<script src="{{url_for('users_bp.static', filename='js/validation.js')}}"></script>
{% endblock content_css %}
{% block content_side_pannel %}
<div>
    <div id="image_div">
        <h2> {{user.full_name}}</h2>
        <h5> @{{user.username}}</h5>
        <img src="{{ url_for('static', filename='images/user-pics/' + user.user_image) }}" alt="Profile picture of user">
        <p id="text">
            Upload any image in the following format: png, jpg, jpeg, webp.
        </p>
    </div>
</div>
{% endblock %}
{% block content_main_pannel %}
<div  id="info_div">
    <h2>Edit Admin Profile</h2>
    <form action="" method="POST" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <fieldset id="info">
            <label for="user_type">User's Type</label>
            {{ form.user_type(class='form-field', id='user_type', value=user.user_type) }}
            {{form_field_error(form.user_type.errors)}}
            <label for="username">Username</label>
            {{ form.username(class='form-field', id='username', value=user.username) }}
            {{form_field_error(form.username.errors)}}
            <label for="full_name">Full Name</label>
            {{ form.full_name(class='form-field', id='full_name', value=user.full_name) }}
            {{form_field_error(form.full_name.errors)}}
            <label for="new_password">New Password</label>
            {{ form.new_password(class='form-field', id='new_password', value=user.password) }}
            {{form_field_error(form.new_password.errors)}}
            <label for="email">Email</label>
            {{ form.email(class='form-field', id='email', value=user.email) }}
            {{form_field_error(form.email.errors)}}
            <label for="phone_number">Phone Number</label>
            {{ form.phone_number(class='form-field', id='phone_number', value=user.phone_number) }}
            {{form_field_error(form.phone_number.errors)}}
            <label for="address">Address</label>
            {{ form.address(class='form-field', id='address', value=user.address) }}
            {{form_field_error(form.address.errors)}}
            <label for="age">Age</label>
            {{ form.age(class='form-field', id='age', value=user.age) }}
            {{form_field_error(form.age.errors)}}
            {% if user.user_type != 'client' %}
                <label for="speciality">Specialty</label>
                {{ form.speciality(class='form-field', id='speciality', value=user.speciality) }}
                {{form_field_error(form.speciality.errors)}}
                <label for="pay_rate">Pay Rate</label>
                {{ form.pay_rate(class='form-field', id='pay_rate', value=user.pay_rate) }}        
                {{ form_field_error(form.pay_rate.errors)}}
            {% endif %}
            <label for="user_image">Profile Picture</label>
            {{form.user_image(class='form-field', id='user_image', value=user.user_image)}}
        </fieldset> 
        <div class ="upd_buttons">
        {{form.submit(class='button')}}
        </div>
    </form>
    <div class="upd_buttons">
        <button id="delete-button">
            <a href="{{url_for('users_bp.delete_user', username=user.username)}}">Delete User</a>
        </button>
    </div>
</div>
{% endblock content_main_pannel %}