{% extends 'base.html' %}
{% from "macro.html" import form_field_error with context %}
{% block content_css %}
<link rel="stylesheet" href="{{url_for('users_bp.static', filename='css/login.css')}}">
<script src="{{url_for('users_bp.static', filename='js/loginValidation.js')}}"></script>
{% endblock content_css %}
{% block content_side_pannel %}
<p>Some content..</p>
{% endblock content_side_pannel %}
{% block content_main_pannel %}
<div id="login-div">
    <form method="POST" action="">
        <h2>Login</h2>
        {{form.hidden_tag()}}
        <fieldset>
            {{form.username(class='form-field', placeholder='Username', id="username")}}
            {{form_field_error(form.username.errors)}}
            {{form.password(class='form-field', placeholder='Password', id="password")}}
            {{form_field_error(form.password.errors)}}
        </fieldset>
        {{form.submit(class='button')}}
    </form>
    <div class="register-link">
        <a href="{{url_for('users_bp.register')}}">Don't have an account?</a>
    </div>
</div>

{% endblock content_main_pannel %}