{% extends 'base.html' %}
{% block content_css %}
<link rel="stylesheet" href="{{url_for('users_bp.static', filename='css/login.css')}}">
{% endblock content_css %}
{% block content_side_pannel %}
<p>Some content..</p>
{% endblock content_side_pannel %}
{% block content_main_pannel %}
<h2>Login</h2>
<div id="login-div">
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <fieldset>
            {{form.username(class='form-field', placeholder='Username')}}
            {{form.password(class='form-field', placeholder='Password')}}
        </fieldset>
        {{form.submit(class='button')}}
    </form>
</div>
{% endblock content_main_pannel %}