{% extends 'home_member.html' %}
{% block content_css %}
<link rel="stylesheet" href="{{url_for('users_bp.static', filename='css/profile.css')}}">
{% endblock content_css %}
{% block content_when_login %}
<p>Hey {{current_user.username}}</p>
<li><a href="{{url_for('users_bp.profile', username=users.username)}}">Profile</a></li>
<li><a href="{{url_for('users_bp.logout')}}">Logout</a></li>
<li><a>My reports</a></li>
<li><a href="{{url_for('appointment_bp.my_appointments', username=current_user.username)}}">My Appointments</a></li>
<li><a href="{{url_for('appointment_bp.create_appointment')}}">Create Appointment</a></li>
{% endblock content_when_login %}
{% block content_side_pannel %}
<img src="{{ url_for('static', filename='images/user-pics/' + users.user_image) }}" alt="Profile picture of user">
{% endblock %}
{% block content_main_pannel %}  
        <h3> {{users.full_name}} </h3>
        <h4> {{users.username}}</h4>
        {% if users.user_type == 'professional' %}
            <h5> Speciality: {{ users.specialty}} </h5>
        {% endif %}
        <p> User Type: {{ users.user_type}} </p><br>
        <p> Address :{{users.address}} </p><br>
        <p> Email: {{users.email}} </p><br>
        <p> Age: {{users.age}} </p>
   <button type="button"> <a href="{{url_for('users_bp.edit_password', username=users.username)}}">Update profile</a> </button>
{% endblock %}