{% extends 'home_member.html' %}
{% from "macro.html" import form_field_error with context %}
{% block content_css %}
<link rel="stylesheet" href="{{url_for('users_bp.static', filename='css/update.css')}}">
{% endblock content_css %}
{% block content_side_pannel %}

    <div id="image_div">
        <h2> {{users.full_name}}</h2>
        <h5> @{{users.username}}</h5>
        <img src="{{ url_for('static', filename='images/user-pics/' + users.user_image) }}" alt="Profile picture of user">
        <form action="" method="POST" enctype="multipart/form-data" novalidate>
            {{form1.hidden_tag() }}
            <fieldset>
                {{form1.user_image(class='form-field', placeholder='Upload New Photo') }}
                {{form_field_error(form1.user_image.errors)}}
                {{form1.submit(class='button')}}
            </fieldset>
        </form>
        <fieldset id="text">
            Upload any image in the following format: png, jpg, jpeg, webp.
        </fieldset>
    </div>

{% endblock %}
{% block content_main_pannel %}
<div id="info_div">
<h2>Edit profile</h2>
    <form action="" method="POST" enctype="multipart/form-data" novalidate >
        {{ form.hidden_tag() }}
        <fieldset id="info">
            <div class = "div_space">
                <label for="full_name">Full Name</label>
                {{form.full_name(class='form-field', placeholder="full_name", value=users.full_name)}}
                {{form_field_error(form.full_name.errors)}}
            </div>
            <div class = "div_space">
                <label for="email">Email</label>
                {{form.email (class='form-field', placeholder="Email", value=users.email)}} 
                {{form_field_error(form.email.errors)}}
            </div>
            <div class = "div_space">
                <label for="old_password">Old Password</label>
                {{form.old_password(class='form-field', placeholder='Old Password')}}
                {{form_field_error(form.old_password.errors)}}
            </div>
            <div class = "div_space">
                <label for="new_password">New Password</label>
                {{form.new_password(class='form-field', placeholder='New password')}} 
                {{form_field_error(form.new_password.errors)}}
            </div>
            <div class = "div_space">
                <label for="phone_number">Phone Number</label>
                {{form.phone_number(class='form-field', placeholder='Phone Number',  value=users.phone_number)}}
                {{form_field_error(form.phone_number.errors)}}
            </div>
            <div class = "div_space">
                <label for="address">Address</label>
                {{form.address(class='form-field', placeholder='Street Number, Province, Country', value=users.address )}}<br>
                {{form_field_error(form.address.errors)}}
            </div>
            <div id="submit_button">
                {{form.submit(class='button')}}
            </div> 
        </fieldset>
    </form>
</div>
{% endblock content_main_pannel %}