{% extends 'home_member.html' %}
{% block content_css %}
<link rel="stylesheet" href="{{url_for('users_bp.static', filename='css/update.css')}}">
{% endblock content_css %}
{% block content_when_login %}
<p>Hey {{current_user.username}}</p>
<li><a href="{{url_for('users_bp.profile', username=users.username)}}">Profile</a></li>
<li><a href="{{url_for('users_bp.logout')}}">Logout</a></li>
<li><a>My reports</a></li>
<li><a href="{{url_for('appointment_bp.my_appointments', user_id=current_user.user_id)}}">My Appointments</a></li>
<li><a href="{{url_for('appointment_bp.create_appointment')}}">Create Appointment</a></li>
{% endblock content_when_login %}
{% block content_side_pannel %}
<div>
    <div id="image_div">
        <img src="{{ url_for('static', filename='images/user-pics/' + users.user_image) }}" alt="Profile picture of user">
        <form action="" method="POST" enctype="multipart/form-data" novalidate>
            {{ form1.hidden_tag() }}
            <fieldset>
                {{ form1.user_image(class='form-field', placeholder='Upload New Photo') }}
                {{form1.submit(class='button')}}
        </form>
    </div>
</div>
{% endblock %}
{% block content_main_pannel %}
<h2>Updating profile ...</h2>
<div>
    <form action="" method="POST" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <fieldset>
            {{form.full_name(class='form-field', placeholder="full_name")}}
            {{form.email (class='form-field', placeholder="Email")}} <br>
            {{form.old_password(class='form-field', placeholder='Old Password')}}
            {{form.new_password(class='form-field', placeholder='New password')}} <br>
            {{form.phone_number(class='form-field', placeholder='Phone Number')}}
            {{form.address(class='form-field', placeholder='Street Number, Province, Country')}}
        {{form.submit(class='button')}}
    </form>
</div>
{% endblock content_main_pannel %}