{% extends 'base.html' %}
{% block content_main_pannel %}  
        <img src="{{ url_for('static', filename='images/user-pics/' + users.user_image) }}" alt="Profile picture of user">
        <h3> {{users.full_name}} </h3>
        <h4> {{users.username}}</h5>
        {% if users.user_type == 'professional' %}
            <h5> Speciality: {{ users.specialty}} </h5>
        {% endif %}
        <p> User Type: {{ users.user_type}} </p><br>
        <p> Address :{{users.address}} </p><br>
        <p> Email: {{users.email}} </p><br>
        <p> Age: {{users.age}} </p>

        <button type="button"> <a href="{{url_for('users_bp.edit_profile', username=users.username)}}">Update profile</a> </button>



{% endblock %}