@media screen and (max-width: 650px) {
    #nav-main {
        flex-direction: column;
        padding: 10px;
    }

    #left-nav {
        flex-direction: column;
        gap: 1em;
    }

    #saloon-header {
        flex-direction: column;
        align-items: flex-start;
    }

    main {
        flex-direction: column;
    }

    #side-pannel, #main-pannel {
        flex: none;
        width: 100%;
        margin-bottom: 20px;
    }

    footer {
        padding: 5px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    nav ul li:last-child {
        margin-bottom: 0;
    }
}