/* Reset default browser styles */
html, body, ul, ol, li, h1, h2, h3, p, form, input, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Set box-sizing property to border-box for all elements */
/* *, *::before, *::after {
    box-sizing: border-box;
} */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body fills the viewport height */
}
/* h3{
    font-style: oblique;
} */

#nav1{
    font-weight: 600;
    font-style: oblique;
    padding-left: 10px;
    /* text-decoration: none; */
    color: yellow;
    background-color: #333 ;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}


/* Navigation styles */
#nav2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
 #left-nav{
    display: flex;
 }

#logo{
    height: auto;
    width: auto;
    max-height: 25px; 
    max-width: 45px;
}
.icon{
    height: auto;
    width: auto;
    max-height: 25px; 
    max-width: 40px;
}
#home_image{
    height: auto;
    width: auto;
    max-height: 500px; 
    max-width: 500px;
} 

#side-pannel, #main-pannel {
    border: 4px double gray;
    padding: 20px;
    border-radius: 10px; /* Adjust the border radius as needed */
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    transition: transform 0.3s ease; /* Add transition effect */
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Add hover effect */
nav ul li:hover {
    transform: translateY(-3px); /* Move the item up slightly on hover */
}

nav ul li:hover a {
    color: yellow; /* Change text color on hover */
}


/* Session info styles */
#session-info p {
    margin: 0;
}

/* Main content styles */
main {
    display: flex;
    flex: 1;
}

#side-pannel {
    flex: 1;
    padding: 20px;
    position: relative; /* Set position to relative */
}

#flash-errors {
    position: absolute; /* Set position to absolute */
    bottom: 0; /* Stick to the bottom */
    left: 0; /* Align to the left */
    width: 100%; /* Occupy full width */
}

#flash-errors ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

#main-pannel {
    flex: 3;
    padding: 20px;
    justify-content: center;
    overflow-y: auto;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Push the footer to the bottom */
}

.success{
    background-color: rgb(76, 163, 76);;
}

.error{
    background-color: rgb(196, 76, 76);;
}

.info{
    background-color: rgb(207, 207, 67);
}
