<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair Salon App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    {% block content_css %}{% endblock content_css %}
</head>
<body>
    <nav id="nav1"> 
        <ul >
            <li> BOOK NOW    •    514 -928 -2935</li>  
        </ul> 
        <ul >
            <li><img class="icon" src="{{url_for('static', filename='images/phone2.webp')}}" alt="Phone icon."></li>
        </ul>
    </nav>
    <nav id="nav2">
        <div id ="left-nav">
            <h3>Saloon</h3>
            {% if current_user.is_authenticated %}
            <li><a href="{{url_for('main_bp.member_home')}}">Home</a></li>
            {% else %}
            <li><a href="{{url_for('main_bp.home')}}">Home</a></li>
            {% endif %}
            <li>About</li>
            <img id="logo" src="{{url_for('static', filename='images/CutHair.webp')}}" alt="Guy cuts his hair.">
        </div>
        <div id="right-nav">
            <nav>
                <ul >
                    {% block content_when_login %}
                    <li> 
                        <a href="{{url_for('users_bp.login')}}">Login</a>
                        <img class='icon' src='{{url_for("static", filename="images/login.png")}}'alt="Login logo with key and man">
                    </li>
                    <li>
                        <a href="{{ url_for('users_bp.register') }}">Register</a>
                        <img class="icon" src="{{ url_for('static', filename='images/register.webp') }}" alt="Register icon.">
                    </li>
                    {% endblock %}
                    <li> 
                        <a href="{{url_for('appointment_bp.all_appointments')}}">Appointments</a>
                        <img class="icon" src="{{url_for('static', filename='images/appointment3.webp')}}" alt="Appointement icon.">
                    </li>
                    <li>My Reports <img class="icon" src="{{url_for('static', filename='images/Report2.webp')}}" alt="Rapport icon."></li>
                </ul>
            </nav>
        </div> 
    </nav>
    <main>
        <div id="side-pannel">
            {% block content_side_pannel %}
             <!-- In the respective templates, override this block to add content for your view.  -->
            {% endblock %} 
            <section id="flash-errors">
                {% if get_flashed_messages() %}
                <ul>
                     <!-- with categories true meaning we get the category, plus the message. [0] = category, [1] = message itself  -->
                    {% for message in get_flashed_messages(with_categories=True) %}
                        {% if 'success' in message[0] %}
                            <li class="success">{{ message[1] }}</li>
                        {% elif 'error' in message[0] %}
                            <li class="error">{{ message[1] }}</li>
                        {% elif 'info' in message[0] %}
                            <li class="info">{{ message[1] }}</li>
                        {% endif %}
                    {% endfor %}  
                </ul>
                {% endif %}
            </section>
        </div>
        <div id="main-pannel">
            {% block content_main_pannel %}
            <!-- In the respective templates, override this block to add content for your view. -->
            {% endblock %}
        </div>
    </main>
    <footer>
        <p>Developers: Amy Nguyen, Iana Fenuic, Darina Hojeij</p>
        <p>Winter 2024 - 420 Final Project</p>
        <p>Dawson College 420.B0</p>
    </footer>
</body>
</html>