<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair Salon App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    {% block content_css %}{% endblock content_css %}
</head>
<body>
    <nav id="nav-main">
        <div id ="left-nav">
            <ul>
                <li id="saloon-header">
                    <h3>Saloon</h3>
                    <img id="logo" src="{{ url_for('static', filename='images/logo1.png') }}" alt="logo for web">
                </li>            
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('main_bp.member_home')}}">Home</a></li>
                {% else %}
                <li><a href="{{url_for('main_bp.home')}}">Home</a></li>
                {% endif %}
                <li><a href="{{url_for('main_bp.about')}}">About Us</a></li>
                <li>About Us</li>
                <li><a href="{{url_for('main_bp.api_docs')}}">API</a></li>
            </ul>
        </div>
        <div id="right-nav">
            <nav>
                <ul >
                    {% block content_when_login %}
                    <li> 
                        <a href="{{url_for('users_bp.login')}}">Login</a>
                    </li>
                    <li>
                        <a href="{{ url_for('users_bp.register') }}">Register</a>
                    </li>
                    <li> 
                        <a href="{{url_for('appointment_bp.all_appointments')}}">Appointments</a>
                    </li>
                    {% endblock %}
                </ul>
            </nav>
        </div> 
    </nav>
    <main>
        <div id="side-pannel">
        {% block content_side_pannel %}
             <!-- In the respective templates, override this block to add content for your view.  --> 
        {% endblock content_side_pannel %}         
        </div>
        <div id="main-pannel">
            {% block content_main_pannel %}
            <!-- In the respective templates, override this block to add content for your view. -->
            {% endblock %}
        </div>
    </main>
    <footer>
        <div>
        <p>Developers: Amy Nguyen, Iana Fenuic, Darina Hojeij</p>
        <p>Winter 2024 - 420 Final Project</p>
        <p>Dawson College 420.B0</p>
        </div>
    </footer>
</body>
</html>